<section class="section component white__section">
    <div class="wrapper">
        <h2 class="title component__title">
            В основе <span class="colortext_blue ib">Libido Drive</span>&nbsp;— самый мощный <br>
            “мужской экстракт”, известный современной науке
        </h2>
        <h3 class="component__subtitle">
            Экстракт Tribulus terrestris
        </h3>
        <div class="component__content">
            <div class="component__content-foto">
                <img src="img/component__img.png" alt="foto" class="component__content-img">
                <span class="component__content-arrow">
                    <img src="img/component__arrow.svg" alt="arrow" class="component__content-arrow-img component__content-arrow-img--1">
                    <img src="img/component__arrow.svg" alt="arrow" class="component__content-arrow-img component__content-arrow-img--2">
                    <img src="img/component__arrow.svg" alt="arrow" class="component__content-arrow-img component__content-arrow-img--3">
                </span>
            </div>
            <div class="component__content-items">
                <div class="component__content-item">
                    <div class="component__content-pic">
                        <img src="img/components__img-1.jpg" alt="foto" class="component__content-image">
                        <span class="component__content-des">
                            <span>Что это?</span>
                        </span>
                    </div>
                    <div class="component__content-text">
                        <div class="component__content-inner">
                            <p class="component__content-p">
                                Экстракт Tribulus terrestris добывают из&nbsp;однолетнего травянистого растения. Его
                                главное
                                действующее вещество — протодиосцин, который повышает уровень тестостерона
                                и&nbsp;оздоравливает всю мочеполовую систему мужчины
                            </p>
                        </div>
                    </div>
                </div>
                <div class="component__content-item">
                    <div class="component__content-pic">
                        <img src="img/components__img-2.jpg" alt="foto" class="component__content-image">
                        <span class="component__content-des">
                            <span>Как это работает?</span>
                        </span>
                    </div>
                    <div class="component__content-text">
                        <div class="component__content-inner">
                            <p class="component__content-p">
                                <span class="component__content-title component__content-title--1">
                                    Повышает либидо
                                </span>
                                <span class="component__content-slogan component__content-slogan--1">
                                    Эрекция становится более крепкой и&nbsp;стойкой
                                </span>
                                <span class="component__content-title component__content-title--2">
                                    Усиливает потенцию
                                </span>
                                <span class="component__content-slogan component__content-slogan--2">
                                    Появляется контроль
                                    над&nbsp;эякуляцией и&nbsp;половой акт продлевается
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="component__content-item">
                    <div class="component__content-pic">
                        <img src="img/components__img-3.jpg" alt="foto" class="component__content-image">
                        <span class="component__content-des">
                            <span>Как меняется жизнь <br>
                            мужчины?</span>
                        </span>
                    </div>
                    <div class="component__content-text">
                        <div class="component__content-inner">
                            <p class="component__content-p">
                                Вы теперь можете
                                заниматься сексом по&nbsp;много
                                часов подряд,
                                не&nbsp;боясь эякулировать раньше,
                                чем&nbsp;вам захочется
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>