<div class="consist section dark-section">
    <div class="wrapper">
        <h2 class="title consist-title">Другие компоненты в&nbsp;составе <span class="colortext_blue ib">Libido Drive</span><br> выводят эрекцию на&nbsp;максимум</h2>
        <div class="consist-wrap">
            <div class="consist-nav">
                <div class="consist-nav__box active">
                    <div class="consist-nav__item consist-nav__item-1">
                        <div class="consist-nav__img">
                            <img src="./img/header-item2.png" alt="">
                        </div>
                        <p class="consist-nav__text">Ginseng Panax</p>
                        <div class="consist-nav__arrow">
                            <img src="./img/consist-arrow.svg" alt="">
                        </div>
                    </div>
                    <div class="consist-content__item consist-content__item-1">
                        <div class="consist-content__img">
                            <img src="./img/consist-item1.jpg" alt="">
                        </div>
                        <div class="consist-content__info">
                            <p class="consist-content__title">Укрепляет здоровье сосудистых тканей малого&nbsp;таза</p>
                            <p class="consist-content__text">Вы быстро восстанавливаетесь после каждого полового акта, и&nbsp;можете раз за разом доводить свою партнершу до&nbsp;оргазма</p>
                        </div>
                    </div>
                </div>
                <div class="consist-nav__box">
                    <div class="consist-nav__item consist-nav__item-2">
                        <div class="consist-nav__img">
                            <img src="./img/header-item3.png" alt="">
                        </div>
                        <p class="consist-nav__text">Muira Puama</p>
                        <div class="consist-nav__arrow">
                            <img src="./img/consist-arrow.svg" alt="">
                        </div>
                    </div>
                    <div class="consist-content__item consist-content__item-2">
                        <div class="consist-content__img">
                            <img src="./img/consist-item2.jpg" alt="">
                        </div>
                        <div class="consist-content__info">
                            <p class="consist-content__title">Улучшает состояние каверзной ткани&nbsp;пениса</p>
                            <p class="consist-content__text">Ваша эрекция находится на&nbsp;максимуме на&nbsp;протяжении всего полового акта, и&nbsp;ваша партнерша получает максимум удовольствия</p>
                        </div>
                    </div>
                </div>
                <div class="consist-nav__box">
                    <div class="consist-nav__item consist-nav__item-3">
                        <div class="consist-nav__img">
                            <img src="./img/arginine.png" alt="">
                        </div>
                        <p class="consist-nav__text ib">L-arginine</p>
                        <div class="consist-nav__arrow">
                            <img src="./img/consist-arrow.svg" alt="">
                        </div>
                    </div>
                    <div class="consist-content__item consist-content__item-3">
                        <div class="consist-content__img">
                            <img src="./img/consist-item3.jpg" alt="">
                        </div>
                        <div class="consist-content__info">
                            <p class="consist-content__title">Разгоняет кровь в&nbsp;органах малого&nbsp;таза</p>
                            <p class="consist-content__text">Вы становитесь сильнее и&nbsp;выносливее в&nbsp;постели, ваша энергия активизируется, секс становится ярче <span class="ib">как для вас,</span> так и&nbsp;для вашей партнерши</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="consist-order">
            <div class="consist-product">
                <img src="./img/product.png" alt="">
            </div>
            <button class="button consist-button ever-popup-btn">
                Заказать
                <img class="button-arrow" src="./img/button-arrow.svg" alt="">
            </button>
        </div>
    </div>
</div>