<div class="consist section dark-section">
    <div class="wrapper">
        <h2 class="title consist-title">Другие компоненты в составе <span class="colortext_blue ib">Libido Drive</span><br> выводят эрекцию на максимум</h2>
        <div class="consist-box">
            <div class="consist-product">
                <img src="./img/product.png" alt="">
            </div>
            <div class="consist-wrap">
                <div class="consist-nav">
                    <div class="consist-nav__item active consist-nav__item-1">
                        <div class="consist-nav__img">
                            <img src="./img/header-item2.png" alt="">
                        </div>
                        <p class="consist-nav__text">Ginseng Panax</p>
                        <div class="consist-nav__arrow">
                            <img src="./img/consist-arrow.svg" alt="">
                        </div>
                    </div>
                    <div class="consist-nav__item consist-nav__item-2">
                        <div class="consist-nav__img">
                            <img src="./img/header-item3.png" alt="">
                        </div>
                        <p class="consist-nav__text">Miura Puama</p>
                        <div class="consist-nav__arrow">
                            <img src="./img/consist-arrow.svg" alt="">
                        </div>
                    </div>
                    <div class="consist-nav__item consist-nav__item-3">
                        <div class="consist-nav__img">
                            <img src="./img/arginine.png" alt="">
                        </div>
                        <p class="consist-nav__text">L-arginine</p>
                        <div class="consist-nav__arrow">
                            <img src="./img/consist-arrow.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="consist-content">
                    <div class="consist-content__item consist-content__item-1 active">
                        <div class="consist-content__img">
                            <img src="./img/consist-item1.jpg" alt="">
                        </div>
                        <div class="consist-content__info">
                            <p class="consist-content__title">Укрепляет здоровье сосудистых тканей малого таза</p>
                            <p class="consist-content__text">Вы быстро восстанавливаетесь после каждого полового акта, и можете раз за разом доводить свою партнершу до оргазма</p>
                        </div>
                    </div>
                    <div class="consist-content__item consist-content__item-2">
                        <div class="consist-content__img">
                            <img src="./img/consist-item2.jpg" alt="">
                        </div>
                        <div class="consist-content__info">
                            <p class="consist-content__title">Укрепляет здоровье сосудистых тканей малого таза</p>
                            <p class="consist-content__text">Вы быстро восстанавливаетесь после каждого полового акта, и можете раз за разом доводить свою партнершу до оргазма</p>
                        </div>
                    </div>
                    <div class="consist-content__item consist-content__item-3">
                        <div class="consist-content__img">
                            <img src="./img/consist-item3.jpg" alt="">
                        </div>
                        <div class="consist-content__info">
                            <p class="consist-content__title">Укрепляет здоровье сосудистых тканей малого таза</p>
                            <p class="consist-content__text">Вы быстро восстанавливаетесь после каждого полового акта, и можете раз за разом доводить свою партнершу до оргазма</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>