<section class="section review white__section">
    <div class="wrapper">
        <h2 class="title review__title">
            Отзывы мужчин, которые уже&nbsp;наладили <br>
            свою сексуальную жизнь с&nbsp;<span class="ib colortext_blue">Libido Drive</span>
        </h2>
        <div class="review__slider">

            <div class="review__slider-arrow review__slider-arrow--prev slick-arrow" style="">
                <?xml version="1.0" encoding="utf-8"?>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px"
                     viewBox="0 0 48 36" style="enable-background:new 0 0 48 36;" xml:space="preserve">
                <style type="text/css">
                    .review__slider-arrow-fill {
                        fill: #CFCFCF;
                    }
                </style>
                <g>
                    <g transform="translate(-617 -2831)">
                        <g>
                            <path class="review__slider-arrow-fill" d="M616.9,2848.8l16.9-16.9l1.4,1.4l-14.7,14.7H665v2h-44.1l14.7,14.7l-1.4,1.4l-15.9-15.9
                                L616.9,2848.8z"/>
                        </g>
                    </g>
                </g>
                </svg>
            </div>
            <div class="review__slider-arrow review__slider-arrow--next slick-arrow" style="">
                <?xml version="1.0" encoding="utf-8"?>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px"
                     viewBox="0 0 48 34" style="enable-background:new 0 0 48 34;" xml:space="preserve">
                <style type="text/css">
                    .review__slider-arrow-fill {
                        fill: #CFCFCF;
                    }
                </style>
                <g>
                    <g transform="translate(-1896 -2832)">
                        <g>
                            <path class="review__slider-arrow-fill" d="M1944,2849.2l-16.9,16.8l-1.4-1.4l14.7-14.6H1896v-2h44l-14.7-14.6l1.4-1.4l15.9,15.8l-0.7,0.7
                                l0.7-0.7L1944,2849.2z"/>
                        </g>
                    </g>
                </g>
                </svg>
            </div>
            <div class="review__slider-content">

                <div class="review__slider-item">
                    <img src="img/review__aut-1.jpg" alt="auth" class="review__slider-auth">

                    <p class="review__slider-text">
                        Эрекция теперь - камень,
                        в&nbsp;разы сильнее чем&nbsp;раньше. Секс стал дольше - теперь
                        я&nbsp;кончаю тогда, когда захочу. Жена просто в&nbsp;восторге,
                        потому&nbsp;что от&nbsp;начала секса
                        до&nbsp;конца у&nbsp;меня эрекция
                        на&nbsp;максимуме, её это просто
                        с&nbsp;ума сводит. На&nbsp;днях столкнулся в&nbsp;подъезде
                        с&nbsp;соседом, который пожаловался на&nbsp;то, что&nbsp;мы
                        по&nbsp;ночам не&nbsp;даем ему спать своими стонами. Думаю, он&nbsp;завидует, поэтому я&nbsp;только
                        посмеялся и&nbsp;порекомендовал ему этот&nbsp;препарат.
                    </p>
                    <span class="review__slider-open">

                    </span>
                </div>
                <div class="review__slider-item">
                    <img src="img/review__aut-2.jpg" alt="auth" class="review__slider-auth">

                    <p class="review__slider-text">
                        У меня не&nbsp;было особых
                        проблем с&nbsp;сексом, но&nbsp;когда узнал от&nbsp;друга, что он&nbsp;начал выполнять в&nbsp;постели
                        с&nbsp;разными девчонками -
                        я&nbsp;тоже решил попробовать. Результат: эрекция просто металлическая, и&nbsp;я могу
                        кувыркаться по&nbsp;много часов подряд! Такое чувство,
                        что&nbsp;даже член больше стал.

                    </p>
                    <span class="review__slider-open">

                    </span>
                </div>
                <div class="review__slider-item">
                    <img src="img/review__aut-3.jpg" alt="auth" class="review__slider-auth">

                    <p class="review__slider-text">
                        История моя банальна.
                        Член падал при&nbsp;попытке
                        надеть резинку. Попробовал Libido&nbsp;Drive. Что&nbsp;я вам скажу. Уже на&nbsp;второй день
                        начал ощущать прилив сил, энергии
                        и&nbsp;тестостерона. Быть альфа-самцом - это&nbsp;крутое ощущение. Эрекция просто стальная.
                        Можно не&nbsp;только презерватив надеть, а&nbsp;еще
                        и&nbsp;грузики навесить - будет стоять и&nbsp;даже не&nbsp;шелохнется. Спасибо. Рекомендую.

                    </p>
                    <span class="review__slider-open">

                    </span>
                </div>
                <div class="review__slider-item">
                    <img src="img/review__aut-4.jpg" alt="auth" class="review__slider-auth">

                    <p class="review__slider-text">
                        Постоянные сексуальные взлеты и падения моего бывшего меня просто бесили. Возбуждение и
                        разочарование по&nbsp;десять раз за&nbsp;5&nbsp;минут
                        - это&nbsp;перебор. С&nbsp;новым парнем таких проблем нет. Правда,
                        он принимает Libido&nbsp;Drive.
                        А&nbsp;мне все&nbsp;равно. Лишь
                        бы секс был&nbsp;качественный.
                        А&nbsp;как он&nbsp;это делает - мне
                        не&nbsp;важно. В&nbsp;общем, мальчики, если ваш дружок вас подводит, заказывайте Libido&nbsp;Drive.
                        Иначе станете бывшими.

                    </p>
                    <span class="review__slider-open">

                    </span>
                </div>
                <div class="review__slider-item review__slider-item--hid">
                    <img src="img/review__aut-5.jpg" alt="auth" class="review__slider-auth">

                    <p class="review__slider-text">
                        Уже пару лет не&nbsp;испытывала оргазма, но&nbsp;после&nbsp;того, как муж начал пользоваться
                        этой штукой, я&nbsp;кончила 3&nbsp;раза за&nbsp;ночь! Это просто нечто! У&nbsp;меня
                        до&nbsp;сих&nbsp;пор озноб, как&nbsp;вспоминаю об&nbsp;этой ночи. Просто теку теперь, как&nbsp;девчонка,
                        когда вижу мужа.

                    </p>
                    <span class="review__slider-open">

                    </span>
                </div>
                <div class="review__slider-item review__slider-item--hid">
                    <img src="img/review__aut-6.jpg" alt="auth" class="review__slider-auth">

                    <p class="review__slider-text">
                        Когда подбухаю - не&nbsp;встаёт.
                        И&nbsp;в&nbsp;презиках постоянно падает. Заказал Libido&nbsp;Drive и&nbsp;начал пользоваться.
                        Стояк теперь каменный. Недавно подцепил одну телку - всю&nbsp;ночь кувыркались как&nbsp;звери))
                        она&nbsp;мне до&nbsp;сих&nbsp;пор звонит,
                        всё&nbsp;на чай напрашивается =)

                    </p>
                    <span class="review__slider-open">

                    </span>
                </div>
                <div class="review__slider-item review__slider-item--hid">
                    <img src="img/review__aut-7.jpg" alt="auth" class="review__slider-auth">

                    <p class="review__slider-text">
                        Когда попробовал этот Libido&nbsp;Drive, то&nbsp;мы с&nbsp;моей малой устроили себе
                        секс-марафон. Даже со&nbsp;счета сбились,
                        сколько раз кончали.
                        И&nbsp;так увлеклись, что&nbsp;даже хоум-видео сняли)
                    </p>
                    <span class="review__slider-open">

                    </span>
                </div>
                <div class="review__slider-item review__slider-item--hid">
                    <img src="img/review__aut-8.jpg" alt="auth" class="review__slider-auth">

                    <p class="review__slider-text">
                        Я заказала эту штуку для&nbsp;своего парня,потому&nbsp;что наша сексуальная жизнь начала давать
                        сбой. И&nbsp;знаете, теперь мы&nbsp;трахаемся как&nbsp;кролики.
                        Если у&nbsp;вас проблемы с&nbsp;сексом, рекомендую это&nbsp;средство.

                    </p>
                    <span class="review__slider-open">

                    </span>
                </div>
                <div class="review__slider-item">
                    <img src="img/review__aut-9.jpg" alt="auth" class="review__slider-auth">

                    <p class="review__slider-text">
                        Фраза “И это все?” звучала почти от&nbsp;каждой девушки. Перечитал много литературы по&nbsp;поводу
                        преждевременной эякуляции, искал, что&nbsp;помогает. Про препарат Libido&nbsp;Drive узнал
                        случайно от&nbsp;своей новой знакомой (она&nbsp;работает врачом в&nbsp;урологической клинике)))
                        Теперь все
                        ОКЕЙ, переезжаю
                        к&nbsp;очаровательной урологше, говорит: “Ты&nbsp;теперь только мой&nbsp;пациент”:)

                    </p>
                    <span class="review__slider-open">

                    </span>
                </div>
                <div class="review__slider-item">
                    <img src="img/review__aut-10.jpg" alt="auth" class="review__slider-auth">

                    <p class="review__slider-text">
                        Мой друг попробовал и&nbsp;говорит, что&nbsp;это хорошо влияет на&nbsp;эякуляцию, то&nbsp;есть,
                        контроль над&nbsp;ней
                        появляется - кончаешь, когда захочешь. У&nbsp;меня у&nbsp;самого таких проблем не&nbsp;было, но&nbsp;начал
                        использовать это&nbsp;средство, чтобы самому кончать
                        по&nbsp;несколько раз&nbsp;за&nbsp;ночь.
                        Жена теперь не&nbsp;высыпается
                        по&nbsp;ночам, я&nbsp;её чпокаю до&nbsp;утра))
                        говорит: “Ты&nbsp;теперь только мой пациент”:)


                    </p>
                    <span class="review__slider-open">

                    </span>
                </div>
                <div class="review__slider-item">
                    <img src="img/review__aut-11.jpg" alt="auth" class="review__slider-auth">

                    <p class="review__slider-text">
                        Я подсунула своему мужу, чтобы он&nbsp;начал это&nbsp;использовать. Сначала сомневался, но&nbsp;потом
                        согласился. Это просто что-то нереальное, меня так&nbsp;никогда
                        в&nbsp;жизни не&nbsp;трахали! Я&nbsp;просто вся растекаюсь теперь в&nbsp;постели. Как вижу его&nbsp;член
                        - бросаюсь
                        на&nbsp;него, как&nbsp;дикая кошка, не&nbsp;могу устоять.


                    </p>
                    <span class="review__slider-open">

                    </span>
                </div>
                <div class="review__slider-item review__slider-item--hid">
                    <img src="img/review__aut-12.jpg" alt="auth" class="review__slider-auth">

                    <p class="review__slider-text">
                        Результат радует! Я&nbsp;теперь
                        как будто весь из&nbsp;тестерона)) трахаюсь каждую ночь,
                        как&nbsp;тигр. Эрекция - стальная, кончаю, когда захочу. Так&nbsp;что,
                        ни&nbsp;одна барышня от&nbsp;меня
                        без&nbsp;оргазма не&nbsp;уходит)


                    </p>
                    <span class="review__slider-open">

                    </span>
                </div>
                <div class="review__slider-item review__slider-item--hid">
                    <img src="img/review__aut-13.jpg" alt="auth" class="review__slider-auth">

                    <p class="review__slider-text">
                        Наконец-то нашел то,
                        что&nbsp;действительно работает! Секс стал бомбовым, я&nbsp;так даже в&nbsp;20&nbsp;лет не&nbsp;трахался.
                        Моя&nbsp;зайка теперь от&nbsp;меня просто без&nbsp;ума!

                    </p>
                    <span class="review__slider-open">

                    </span>
                </div>
                <div class="review__slider-item">
                    <img src="img/review__aut-14.jpg" alt="auth" class="review__slider-auth">

                    <p class="review__slider-text">
                        Когда у&nbsp;меня не&nbsp;встал в&nbsp;первый раз, я&nbsp;почувствовал себя беспомощным. А&nbsp;потом
                        это&nbsp;стало
                        повторяться всё чаще. Сначала по&nbsp;несколько раз
                        в&nbsp;неделю, а&nbsp;потом почти постоянно. Жена не&nbsp;подавала виду, что&nbsp;её&nbsp;это
                        тревожит.
                        Но&nbsp;когда на&nbsp;нашу годовщину
                        я&nbsp;не&nbsp;смог, она&nbsp;расплакалась. Тогда я&nbsp;понял, что&nbsp;либо я&nbsp;решу эту&nbsp;проблему
                        как&nbsp;мужик, либо&nbsp;нашим
                        отношениям придет конец.
                        И&nbsp;на&nbsp;эту тему я&nbsp;пообщался с&nbsp;товарищем моего возраста, и&nbsp;он посоветовал
                        мне Libido&nbsp;Drive. Помогло
                        не&nbsp;то&nbsp;слово. Теперь, как&nbsp;раньше, на&nbsp;улице засматриваюсь на&nbsp;стройненьких,
                        а&nbsp;мою зайку по&nbsp;ночам
                        просто до&nbsp;исступления довожу.

                    </p>
                    <span class="review__slider-open">

                    </span>
                </div>
            </div>
            <div class="review__slider-counter">
                <span class="review__slider-counter-this">4</span><span>/</span><span
                    class="review__slider-counter-all">14</span>

            </div>
        </div>
    </div>
</section>