<div class="section dark-section study">
    <div class="wrapper">
        <h2 class="title study-title">Исследования подтверждают: <span class="colortext_blue ib">Libido Drive</span><br> способен решить все проблемы с&nbsp;потенцией</h2>
        <p class="study-slogan">
            Исследования проводились на базе Урологического центра «Urologicum München» в&nbsp;Мюнхене <span class="ib">в 2017-2018 годах.</span><br>
            Всего в&nbsp;них участвовало 5182&nbsp;человека возрастом <span class="ib">от 30 до 60 лет.</span>
        </p>
        <div class="study-box">
            <div class="study-wrap study-box__left">
                <div class="study-item">
                    <p class="study-item__number"><span class="count" data-name="89">89</span>%</p>
                    <p class="study-item__title">испытуемых</p>
                    <p class="study-item__text">Стабильная эрекция и&nbsp;контроль над&nbsp;семяизвержением</p>
                </div>
                <div class="study-item">
                    <p class="study-item__number"><span class="count" data-name="100">100</span>%</p>
                    <p class="study-item__title">испытуемых</p>
                    <p class="study-item__text">Отсутствие побочных эффектов и&nbsp;привыкания</p>
                </div>
            </div>
            <div class="study-wrap study-box__center">
                <div class="study-item">
                    <p class="study-item__number"><span class="count" data-name="97">97</span>%</p>
                    <p class="study-item__title">испытуемых</p>
                    <p class="study-item__text">Восстановление естественной потенции за&nbsp;<span class="ib">1 курс</span> применения</p>
                </div>
            </div>
            <div class="study-wrap study-box__right">
                <div class="study-item">
                    <p class="study-item__number"><span class="count" data-name="93">93</span>%</p>
                    <p class="study-item__title">испытуемых</p>
                    <p class="study-item__text">Повышение уровня гормона тестостерона до&nbsp;возрастной нормы</p>
                </div>
                <div class="study-item">
                    <p class="study-item__number"><span class="count" data-name="85">85</span>%</p>
                    <p class="study-item__title">испытуемых</p>
                    <p class="study-item__text">Продление времени полового акта как минимум в&nbsp;<span class="ib">2 раза</span></p>
                </div>
            </div>
        </div>
        <div class="study-people">
            <img src="./img/study-people.png" alt="">
        </div>
    </div>
</div>