<section class="doctor">
    <div class="wrapper">
        <h2 class="title doctor__title">
            <span class="ib colortext_blue">Libido Drive</span> повышает уровень тестостерона,
            оздоравливает простату, укрепляет эрекцию
            и&nbsp;продлевает половой акт
        </h2>
        <div class="doctor__content">
            <div class="doctor__man">
                <img src="img/doctor__img-1.png" alt="doc" class="doctor__man-img">
            </div>
            <div class="doctor__des">
                <p class="doctor__text doctor__text--1">
                    Ко мне часто обращаются мужчины самых разных возрастов из-за того,
                    что недовольны своей эрекцией. И это несмотря на то, что итальянцев считают одной из самых страстных
                    наций. Итальянский ловелас, который
                    с легкостью заводит бурные отношения сразу с несколькими девушками
                    уже успел стать классическим национальным образом. Казалось бы, какие тут могут быть проблемы с
                    простатой... Но я не удивляюсь, эта проблема сейчас распространена из-за нынешней экологической
                    ситуации, некорректного питания и сидячого образа жизни, которой живет почти каждой второй. Каким бы
                    мужчина не был крепким и страстным,
                    его гормональная система может дать сбой - мужской гормон тестостерон упадет, и это в первую очередь
                    отразиться на качестве секса.
                </p>
                <p class="doctor__text doctor__text--2">
                    Однако, гормональную терапию я назначаю только в самых крайних случаях. Обычно я рекомендую
                    пациентам препарат Libido Drive, в его состав входят целые три мощные “мужские экстракты”: Tribulus
                    terrestris, Ginseng Panax, Muira Puama. Благодаря такому растительному составу, Libido Drive
                    повышает уровень тестостерона, оздоравливает простату, укрепляет эрекцию и продлевает половой акт.
                    Поскольку разработчик препарата,
                    Пауло Бьянки - миланец, <span class="doctor__text-bold">наша клиника в Милане получила возможность одной из первых лично
                    протестировать этот препарат, прежде чем назначать его пациентам. Результаты - впечатляющие.</span>
                </p>
                <div class="doctor__sign">
                    <div class="doctor__sign-about">
                        <h3 class="doctor__sign-name">
                            Антонио Аллегро
                        </h3>
                        <p class="doctor__sign-location">
                            врач-уролог высшей категории <br>
                            Стаж работы: 18 лет
                        </p>
                    </div>
                    <img src="img/doctor__sign.png" alt="sign" class="doctor__sign-img">
                </div>
            </div>
        </div>
    </div>
</section>