<div class="section order white__section">
    <div class="wrapper">
        <section class="map">
            <div class="container">
                <div class="x-country-map">{{x_country_map}}</div>
            </div>
        </section>
        <h2 class="title order-title">Заказать <span class="colortext_blue ib">Libido Drive</span> очень просто</h2>
        <div class="order-wrap">
            <div class="order-item order-item1">
                <div class="order-item__header">
                    <p>Заполните форму</p>
                </div>
                <div class="order-item__img">
                    <div class="button order-button">
                        Заказать
                        <img class="button-arrow" src="./img/button-arrow.svg" alt="">
                    </div>
                </div>
                <p class="order-item__text">После нажатия кнопки введите свое имя и&nbsp;телефон</p>
            </div>
            <div class="order-item order-item2">
                <div class="order-item__header">
                    <p>Ответьте на звонок</p>
                </div>
                <div class="order-item__img">
                    <img class="img" src="./img/operator.png" alt="">
                </div>
                <p class="order-item__text">Он уточнит ваши адресные данные и&nbsp;ответы на все вопросы о&nbsp;продукте</p>
            </div>
            <div class="order-item order-item3">
                <div class="order-item__header">
                    <p>Оплатите после получения</p>
                </div>
                <div class="order-item__img">
                    <img class="img" src="./img/order.png" alt="">
                </div>
                <p class="order-item__text">Вы платите только за&nbsp;товар. Расходы по пересылке мы&nbsp;берем на&nbsp;себя.</p>
            </div>
        </div>
    </div>
</div>