<div class="dark-section home last-section">
    <div class="wrapper">
        <div class="home-wrap">
            <div class="home-img">
                <div class="home-img__people">
                    <img src="./img/home-people.png" alt="">
                </div>
            </div>
            <div class="home-content">
                <h1 class="home-title">
                    Комплекс <span class="colortext_blue ib">Libido Drive</span><br>
                    восстанавливает потенцию
                </h1>
                <p class="home-content_slogan">при помощи трёх мощнейших экстрактов для&nbsp;укрепления мужского&nbsp;здоровья</p>
                <div class="home-list">
                    <div class="home-item">
                        <div class="home-item__img">
                            <img src="./img/component__img.png" alt="">
                        </div>
                        <div class="home-item__content">
                            <p class="home-item__title">Tribulus terrestris</p>
                            <p class="home-item__text">усиливает секрецию тестостерона и&nbsp;повышает&nbsp;либидо</p>
                        </div>
                    </div>
                    <div class="home-item">
                        <div class="home-item__img">
                            <img src="./img/header-item2.png" alt="">
                        </div>
                        <div class="home-item__content">
                            <p class="home-item__title">Ginseng Panax</p>
                            <p class="home-item__text">повышает выносливость и&nbsp;продлевает половой&nbsp;уакт</p>
                        </div>
                    </div>
                    <div class="home-item">
                        <div class="home-item__img">
                            <img src="./img/header-item3.png" alt="">
                        </div>
                        <div class="home-item__content">
                            <p class="home-item__title">Muira Puama</p>
                            <p class="home-item__text">укрепляет эрекцию и&nbsp;дает контроль над&nbsp;уэякуляцией</p>
                        </div>
                    </div>
                </div>
                <div class="home-content__product">
                    <img src="./img/product.png" alt="">
                </div>
                <div class="home-order">
                    <button class="button home-button ever-popup-btn">
                        Заказать
                        <img class="button-arrow" src="./img/button-arrow.svg" alt="">
                    </button>
                    <div class="home-order__content">
                        <p class="home-order__text">по скидке</p>
                        <div class="home-order__discount">-50%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>