.consist {
  padding: 70px 0 77px;
}

.consist-title {
  color: #ffffff;
  margin-bottom: 35px;
}


.consist-order {
  position: relative;
}

.consist-product {
  top: -310px;
  left: 0;
  position: absolute;
  max-width: 350px;
  flex: none;
}

.consist-product img {
  display: block;
}

.consist-wrap {
  position: relative;
  max-width: 800px;
  margin-left: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}

.consist-nav {
  width: 300px;
  flex: none;
  margin-right: 30px;
}

.consist-nav__item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 15px 35px 15px 0;
  cursor: pointer;
}

.consist-nav__box.active .consist-nav__img{
  border: 3px solid #45b9bd;
}

.consist-nav__box.active .consist-nav__text{
  border-bottom: 1px solid #45b9bd;
}

.consist-nav__box.active .consist-nav__arrow{
  display: block;
}

.consist-nav__item + .consist-nav__item {
  border-top: 1px solid rgba(239, 239, 239, 0.15);
}

.consist-content__item {
  display: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  max-width: 470px;
  padding: 15px;
  border-radius: 3px;
  background-color: #1e1e1e;
}

.consist-nav__box.active .consist-content__item {
  display: flex;
  align-items: center;
}

.consist-nav__img {
  width: 76px;
  height: 76px;
  flex: none;
  border: 3px solid transparent;
  border-radius: 50%;
  margin-right: 25px;
}

.consist-nav__text {
  color: #ffffff;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
}

.consist-nav__arrow {
  display: none;
  position: absolute;
  top: 50%;
  right: -5px;
  transform: translate(0, -50%);
}


.consist-content__img {
  margin-right: 15px;
  flex: none;
}

.consist-content__img img {
  display: block;
  border-radius: 5px;
}

.consist-content__title {
  color: #ffffff;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 15px;
}

.consist-content__text {
  opacity: 0.6;
  color: #ffffff;
  font-size: 17px;
  line-height: 1.3;
}

.consist-button {
  max-width: 270px;
  margin: 0 auto;
}

@media screen and (min-width: 480px){
  .consist-nav__item:hover .consist-nav__img {
    border: 3px solid #45b9bd;
  }

  .consist-nav__item:hover .consist-nav__text{
    border-bottom: 1px solid #45b9bd;
  }

  .consist-nav__item:hover .consist-nav__arrow{
    display: block;
  }
}

@media screen and (max-width: 1199px){
  .consist-title {
    margin-bottom: 20px;
  }

  .consist-product {
    top: -270px;
    max-width: 280px;
  }

  .consist-wrap {
    max-width: 725px;
    align-items: center;
    margin-bottom: 20px;
  }

  .consist-nav__item {
    padding: 15px 35px 15px 0;
  }

  .consist-nav__img {
    margin-right: 15px;
  }

  .consist-nav__text {
    font-size: 20px;
  }

  .consist-nav {
    width: 280px;
    margin-right: 20px;
  }

  .consist-content__item {
    max-width: 430px;
    padding: 10px;
    margin: 0;
    align-items: center;
  }

  .consist-content__img {
    max-width: 150px;
  }

  .consist-content__title {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .consist-content__text {
    font-size: 16px;
    line-height: 1.2;
  }

}

@media screen and (max-width: 1023px){
  .consist-wrap {
    width: 100%;
    margin: 0 auto 20px;
  }

  .consist-title {
    margin-bottom: 10px;
  }

  .consist-order {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .consist-product {
    position: static;
    margin-right: 30px;
  }

  .consist-button {
    margin: 0;
  }

}

@media screen and (max-width: 767px){
  .consist-wrap {
    min-height: 320px;
  }

  .consist-title {
    margin-bottom: 20px;
  }

  .consist-nav__img {
    width: 65px;
    height: 65px;
  }

  .consist-nav__text {
    font-size: 18px;
  }

  .consist-content__item {
    max-width: 320px;
    flex-direction: column;
  }

  .consist-content__img {
    margin-bottom: 10px;
  }

}

@media screen and (min-width: 480px) and (max-width: 639px){
  .consist-nav__box.active .consist-nav__arrow {
    display: none;
  }
}

@media screen and (max-width: 639px){
  .consist-wrap {
    min-height: 410px;
  }

  .consist-title br {
    display: none;
  }

  .consist-wrap {
    flex-direction: column;
  }

  .consist-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 0 20px 0;
  }


  .consist-nav__item + .consist-nav__item {
    border: none;
  }

  .consist-nav__img {
    margin: 0 0 10px 0;
  }

  .consist-nav__item {
    padding: 0 10px;
    flex-direction: column;
  }

  .consist-content__item {
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0);
    top: initial;
    bottom: 0;
    max-width: 400px;
  }

  .consist-content__title {
    min-height: 38px;
  }

  .consist-content__img {
    margin: 0 auto 10px;
  }

  .consist-order {
    flex-direction: column;
  }

  .consist-product {
    margin: 0 0 20px 0;
  }

}

@media screen and (max-width: 479px){
  .consist-wrap {
    min-height: 1px;
  }

  .consist-nav {
    max-width: 300px;
    flex-direction: column;
    margin-bottom: 0;
  }

  .consist-product {
    max-width: 260px;
    margin: 0 auto 20px;
    margin-left: calc(50% - 118px);
  }

  .consist-nav__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: inherit;
    padding: 10px;
  }

  .consist-nav__box {
    border-radius: 10px;
    background: #1e1e1e;
    border: 1px solid transparent;
  }

  .consist-nav__box.active {
    border: 1px solid #45b9bd;
  }

  .consist-nav__box + .consist-nav__box {
    margin-top: 20px;
  }

  .consist-content__item {
    position: static;
    transform: none;
    border-radius: 0 0 10px 10px;
  }

  .consist-content__title {
    min-height: 1px;
  }

  .consist-nav__img {
    margin: 0 10px 0 0;
  }

  .consist-nav__arrow {
    display: block;
    margin-left: auto;
    position: static;
    transform: rotate(90deg);
  }

  .consist-nav__box.active .consist-nav__arrow {
    transform: rotate(-90deg);
  }

  .consist-nav__img {
    width: 50px;
    height: 50px;
  }

}